@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}

h1 {
  font-family: Roboto;
  font-size: 3.44rem;
  position: absolute;
  width: 30.44rem;
  height: 4.63rem;
  left: 7.19rem;
  top: 10.94rem;
}
h2 {
  position: absolute;
  width: 16.88rem;
  height: 1rem;
  left: 13.94rem;
  top: 25.44rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.345em;
  text-transform: uppercase;

  color: #7d7d7d;
}
/* .email {
  position: absolute;
  width: 183px;
  height: 27px;
  left: 121px;
  top: 466px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;

  color: #000000;
}

.password {
  position: absolute;
  width: 183px;
  height: 27px;
  left: 121px;
  top: 576px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;

  color: #000000;
}

#rectangle_email {
  position: absolute;
  width: 474px;
  height: 61px;
  left: 121px;
  top: 501px;

  border: 0.5px solid #7d7d7d;
  box-sizing: border-box;
}

#rectangle_pw {
  position: absolute;
  width: 474px;
  height: 61px;
  left: 121px;
  top: 611px;

  border: 0.5px solid #7d7d7d;
  box-sizing: border-box;
} */
